# Virtual environment
.venv/
venv/

# VSCode files
.vscode/
# PyCharm files
.idea

# Python cache files
__pycache__/

# Temp folder
tmp/

# Output folder
out/
output/

# Pyinstaller folders
build/
dist/

# Tools folder
tools/ffmpeg.exe
